table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

body {
      background: linear-gradient(135deg, #fcfcfc 0%, #f3f2f3 100%);
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
    }
td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #a7aa04;
  color: white;
}



form {
  border-radius: 5px;
  background-color: #0e9cd4;
  padding: 20px;
}

label {display: block;}

input[type=text],[inputtypes=email], select{
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
 }

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
 }



 .container{
    background-color: rgb(38, 63, 207);
    padding: 2em;
    width: 80%;
    text-align: center;
    margin: 20px auto;
 }
 .form-container{
    background-color: rgb(161, 161, 161);
    padding: 2em;
    border-radius:8px;
    box-shadow: rgbrgb(121, 204, 100);
    width: 600px;
    text-align: left;
    margin: 50px auto;
 }